@import '_variables.sass'

@media ( min-width: 1025px  )
    
.services_section
    position: relative
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: center
    width: 100%
    height: 100vh

.services_container
    position: absolute
    top: 0px
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: flex-start
    width: 95%
    height: 100%

.planet1
    position: absolute
    top: 50%
    left: 45%
    width: 8%
    height: 8%

.planet2
    position: absolute
    bottom: 27%
    right: 15%
    width: 12%
    height: 12%

.planet3
    position: absolute
    top: 40%
    right: 25%
    width: 8%
    height: 8%

.services_title
    position: absolute
    top: 5%
    width: 30%
    height: auto

.services_title
    h1
        color: $dark_blue
        font-size: 1.5vw
        text-align: center

.services_description--container
    position: absolute
    top: 15%
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    width: 100%
    height: 75%

.service_card
    display: flex
    flex-flow: column nowrap
    justify-content: space-evenly
    align-items: center
    width: 200px
    height: 250px

.service_card
    span
        display: block
        width: 180px
        height: 180px
        border-radius: 100%
        filter: drop-shadow(0 0 3px rgb(166, 241, 224))
        overflow: hidden

.service_card
    span
        img
            width: 100%
            height: 100%
            object-fit: cover

.service_card
    h4
        display: block
        width: 80%
        height: 13%
        color: $main_pink
        font-size: 1.3vw
        text-align: center

.services_cta
    position: absolute
    bottom: 5%
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    width: 30%
    height: 10%

.services_cta
    a
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        width: 60%
        height: 80%
        border: 0
        border-radius: 100px
        color: $dark_blue
        font-size: 1.5vw
        text-decoration: none
        background: $main_green
        transform: scale(1)
        transition: transform 0.2s ease-in

.services_cta
    a:hover
        transform: scale(1.1)