---
import '../css/activities.css'
import ActivitiesCard from '../components/Activities_card.astro'

import {getPageInfo} from '../lib/wp.ts'
import {getPostsInfo} from '../lib/wp_posts.ts'
import {getAllCategories} from '../lib/wp_categories.ts'

const {title, content} = await getPageInfo('activities')
const posts = await getPostsInfo({ perPage: 10 })
const categories = await getAllCategories()

const getCategoryName = (postCategories) => {
    return postCategories.map(catID => {
        const category = categories.find(cat => cat.id === catID);
        return category? category.name : "unknown";
    })
}

---

<section class="activities" id="features">
    <h1>{title}</h1>
    <div class="activities_content">
        {
            posts.map(post => {
                const categoryName = getCategoryName(post.categories)
                console.log(categoryName)
                const isActivities = categoryName.includes('Activities');
                return (
                 isActivities ? <ActivitiesCard {...post}/>
                : null
                )
            })
        }
    </div>
</section>
<script>
    document.querySelectorAll(".card-btn").forEach(button => {
    button.addEventListener("click", function() {

        const card = this.closest(".activities-card");
        const infoCard = card.querySelector(".activities-card-info");
        if (infoCard) {
            infoCard.classList.toggle("active");
        }

        this.textContent = infoCard.classList.contains("active") ? "Cerrar" : 'Ver más';
    });
});
</script>