---
import '../css/testimonies.css'
import Star from '../assets/star.svg'
---

<section class="testimonies_section">
    <div class="testimonies_container">
        <div class="testimonies">
            <span class="thumb one"></span>
            <h3>Mary Anne</h3>
            <p class="subtitle">Madre de Familia</p>
            <p class="pharagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis, mi cursus varius ultrices, odio neque finibus turpis, ut varius turpis lectus sed metus. Aliquam cursus risus eu ipsum ultricies, eu vestibulum velit laoreet.</p>
            <div class="stars_container">
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
            </div>
        </div>
        <div class="testimonies">
            <span class="thumb two"></span>
            <h3>Jon Doe</h3>
            <p class="subtitle">Padre de familia</p>
            <p class="pharagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis, mi cursus varius ultrices, odio neque finibus turpis, ut varius turpis lectus sed metus. Aliquam cursus risus eu ipsum ultricies, eu vestibulum velit laoreet.</p>
            <div class="stars_container">
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill='#00000'/></span>
            </div>
        </div>
        <div class="testimonies">
            <span class="thumb three"></span>
            <h3>Felicitty Angus</h3>
            <p class="subtitle">Madre de Familia</p>
            <p class="pharagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis, mi cursus varius ultrices, odio neque finibus turpis, ut varius turpis lectus sed metus. Aliquam cursus risus eu ipsum ultricies, eu vestibulum velit laoreet.</p>
            <div class="stars_container">
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill="#FFB200"/></span>
                <span><Star width={'30px'} height={'30px'} fill='#00000'/></span>
            </div>
        </div>
    </div>
</section>