@media (min-width: 350px) and (max-width: 1024px) {
  .main_header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 15%;
    background: transparent;
    z-index: 3;
  }
  .header_logo {
    position: absolute;
    left: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 90px;
    height: 100%;
    min-height: 120px;
    cursor: pointer;
  }
  .header_logo a img {
    width: 100%;
    height: 100%;
  }
  .header_nav {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    width: 30%;
    height: 90%;
  }
  .header_menu_mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 25%;
    left: 2%;
    width: 22%;
    height: 50%;
    cursor: pointer;
    z-index: 1;
  }
  .header_menu_mobile span {
    display: block;
    content: "";
    background: #25282A;
    border-radius: 6px;
    transition-duration: 0.2s;
  }
  .header_menu_mobile span:nth-child(1) {
    width: 55%;
    height: 10px;
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
  }
  .header_menu_mobile span:nth-child(2) {
    width: 45%;
    height: 10px;
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
  }
  .header_menu_mobile span:nth-child(3) {
    width: 55%;
    height: 10px;
  }
  .header_menu_mobile span:nth-child(2).open {
    transform: scale(0);
  }
  .header_menu_mobile span:nth-child(1).open {
    transform: translate(0, 30px) rotate(45deg);
    background: #E574BC;
  }
  .header_menu_mobile span:nth-child(3).open {
    transform: translate(0, -6px) rotate(-45deg);
    background: #E574BC;
  }
  .nav_list {
    position: absolute;
    display: none;
    top: 1%;
    left: 5%;
    width: 250%;
    height: 500%;
    border-radius: 20px;
    background: #FBFBFB;
  }
  .nav_list.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .nav_list li {
    list-style: none;
    color: #27445D;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: auto;
    font-family: "Sour Gummy", serif;
  }
  .nav_list a {
    text-decoration: none;
  }
  .nav_list li::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 6px;
    background: #E574BC;
    transform: scaleX(0);
    transition: transform 0.5s ease-in;
  }
  .nav_list li:hover::after {
    transform: scaleX(1);
  }
  .header_btn--contact {
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30%;
    border: 1px solid #E574BC;
    border-radius: 100px;
    background: transparent;
    font-size: 2.5vw;
    color: #E574BC;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s ease;
    z-index: -1;
  }
  .header_btn--contact:hover {
    background: #E574BC;
    color: white;
  }
}
@media (min-width: 1023px) {
  .main_header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 20%;
    background: #FBFBFB;
    z-index: 3;
  }
  .header_logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    width: 5%;
    min-width: 70px;
    height: 100%;
    min-height: 70px;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 1s;
  }
  .header_logo a img {
    width: 100%;
    height: 100%;
  }
  .header_nav {
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 90%;
  }
  .header_menu_mobile {
    display: none;
  }
  .nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 90%;
  }
  .nav_list li {
    list-style: none;
    color: #27445D;
    font-size: 1.6vw;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    font-family: "Sour Gummy", serif;
  }
  .nav_list a {
    text-decoration: none;
  }
  .nav_list li::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: #E574BC;
    transform: scaleX(0);
    transition: transform 0.5s ease-in;
  }
  .nav_list li:hover::after {
    transform: scaleX(1);
  }
  .header_btn--contact {
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    height: 30%;
    margin-right: 2%;
    border: 1px solid #E574BC;
    border-radius: 100px;
    background: transparent;
    font-size: 1.3vw;
    color: #E574BC;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s ease;
  }
  .header_btn--contact:hover {
    background: #E574BC;
    color: white;
  }
}/*# sourceMappingURL=index.css.map */