.services_section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.services_container {
  position: absolute;
  top: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  height: 100%;
}

.planet1 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 8%;
  height: 8%;
}

.planet2 {
  position: absolute;
  bottom: 27%;
  right: 15%;
  width: 12%;
  height: 12%;
}

.planet3 {
  position: absolute;
  top: 40%;
  right: 25%;
  width: 8%;
  height: 8%;
}

.services_title {
  position: absolute;
  top: 5%;
  width: 30%;
  height: auto;
  color: #27445D;
  font-size: 1.3vw;
  text-align: center;
}

.services_description--container {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75%;
}

.description1 {
  position: relative;
  top: -10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  height: 55%;
}

.description1 span {
  position: absolute;
  top: 0;
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  background-image: url("/src/assets/sports.webp");
  background-size: cover;
  background-position: 20%;
  filter: drop-shadow(0 0 3px rgb(166, 241, 224));
}

.description1 h4 {
  position: absolute;
  bottom: -10%;
  display: block;
  width: 80%;
  height: 13%;
  color: #E574BC;
  font-size: 1.3vw;
  text-align: center;
}

.description2 {
  position: relative;
  top: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  height: 55%;
}

.description2 span {
  position: absolute;
  top: 0;
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 67% 33% 70% 30%/30% 54% 46% 70%;
  background-image: url("/src/assets/arts.webp");
  background-size: cover;
  background-position: 20%;
  filter: drop-shadow(0 0 3px rgb(166, 241, 224));
}

.description2 h4 {
  position: absolute;
  bottom: -10%;
  display: block;
  width: 80%;
  height: 15%;
  color: #E574BC;
  font-size: 1.3vw;
  text-align: center;
}

.description3 {
  position: relative;
  top: -10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  height: 55%;
}

.description3 span {
  position: absolute;
  top: 0;
  display: block;
  width: 82%;
  height: 80%;
  border-radius: 32% 68% 49% 51%/35% 45% 55% 65%;
  background-image: url("/src/assets/languages.webp");
  background-size: cover;
  background-position: 20%;
  filter: drop-shadow(0 0 3px rgb(166, 241, 224));
}

.description3 h4 {
  position: absolute;
  bottom: -10%;
  display: block;
  width: 80%;
  height: 13%;
  color: #E574BC;
  font-size: 1.3vw;
  text-align: center;
}

.description4 {
  position: relative;
  top: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  height: 55%;
}

.description4 span {
  position: absolute;
  top: 0;
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 68% 32% 62% 38%/50% 61% 39% 50%;
  background-image: url("/src/assets/counseling.webp");
  background-size: cover;
  background-position: 20%;
  filter: drop-shadow(0 0 3px rgb(166, 241, 224));
}

.description4 h4 {
  position: absolute;
  bottom: -10%;
  display: block;
  width: 80%;
  height: 13%;
  color: #E574BC;
  font-size: 1.3vw;
  text-align: center;
}

.services_cta {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
}

.services_cta a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  border: 0;
  border-radius: 100px;
  color: #FBFBFB;
  font-size: 1.4vw;
  text-decoration: none;
  background: #A6F1E0;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}

.services_cta a:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=services.css.map */